html, body {
	margin:0;
	padding: 0;
	width: 100%;
}

body{
	width: 100%;
	height: 100vh;
	background: url(/images/bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: table;
	font-family: 'Montserrat', sans-serif;

}

.nav{
	position: fixed;
	top: 0;
	left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgba(255,255,255,0.5);

}

.logo{
	width: 90px;
	height: 90px;
	position: relative;
	background-image: url(logo.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	letter-spacing: 1px;
	float: left;
	color: #fff;
	font-size: 22px;
	line-height: 80px;
	padding: 0 6em;
}

.menu{
	float: right;
	line-height: 60px;
	margin:0 3em; 
}

.menu ul {
	list-style: none;
}

.menu ul li {
	position: right;
	display: inline-block;
}

.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    padding: 0 20px;
}

ul li:nth-child(6) a{
	color: #fff;
	border: 2px solid #009f8b;
    padding: 10px 20px;
    border-radius: 4px;

}

.Header{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.Header h1{
	color: #fff;
	font-size: 80px;
	font-weight: 750;
	margin-bottom:50px;
	opacity: 85%;
}

.Header p {
	color: #fff;
	font-size: 25px;
	font-weight: lighter;
	font-weight: 300;

}

.button {
    border-radius: 2px;
    background-color: #312f2f;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 20px;
    
    margin-right: 20px;
    position: relative;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    color: #2ecc71;
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }