<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/admininsert1.css" type="text/css">
</head>
<body>
<!--====form section start====-->
<div><a href="/dashboard"><button class="button"><span> Dashboard </span></button></div></a>
<div class="wrapper">
  
    <h2 class="title">Enter Your ID and Name</h2>
    <form action="/alloc-form/create" method="POST" class="form">

     

      <div class="field">
          <input type="text"  name="id" class="field" required>
          <label>ID</label>
        </div> 

          <div class="field">
          <input type="submit" value="Enter">
        </div>
        </div>
</div>
<!--====form section start====-->
</body>
</html>