<!DOCTYPE html>
<html lang='en'>
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content ="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title> BPHC Hostel Management</title>
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;0,900;1,400;1,900&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/stylesheets/style2.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

</head>

<body>
    
	<div class="wrapper">
        
		<div class="nav">
            
			<div class="logo"></div>
                
                <div style="position: absolute; top: 10px; left: -100px;"  > <img src="/images/logo.png" class="logo" alt=""> </div>
                
                <div class="menu">
				<ul>
					<li><a href="/dashboardadmin">Home</a></li>
					<li><a href="/user-list">Allotment</a></li>
					<li><a href="/send-email">Email Report</a></li>
					<li><a href="/complaintview">Complaints</a></li>
					<li><a href="/admin-insert/form">Allocation</a></li>
					<li><a href="/login" class="button">Logout</a></li>

				</ul>
				
			</div>
		</div>	
		<div class="Header">
			<h1> HOSTEL MANAGEMENT </h1>

			<p>
				Bits Pilani Hyderabad Campus
			</p>
			
		</div>
	</div>


</body>
</html>

